<!DOCTYPE html>
<html lang="es">
<head>
    <%-include ("../includes/head"); %>
    <title>Productos</title>
    <link rel="stylesheet" href="/css/home.css" />
</head>
<body>
    <%-include ("../includes/header"); %>
    <!-- =============PRODUCTOS==========-->
    <main>
        <h3 id="ofertas" class="titulos-secciones">PRODUCTOS  </h3>

        <div  class="main__section__lastvisit">

        <article id="art1" class="articulos">
            <a href="./productos/detalle"> <img class="imagenArticulo" src="img/products/product_vinos1.jpg" alt=""> </a>
            <div class="detalleArticulos">   
            <p class="precio">$600</p>
            <p class="descuentos">30% OFF</p>
            <h4 class="descripciones">Alma Mora <p>Select Reserve Blend</p></h4>
        </article>    
        </div>

    </main>
    <%-include ("../includes/footer"); %>
</body>
</html>