<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/detalle_producto.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- ===========================================HEADER===================================================   -->
<header class="main-header">
  <!-- top bar --> 
    
       <!-- <img src='poner img del logo aca' class="logo">   -->
  
  
  <!-- boton hamburguesa -->
  <a href="#" class="boton-hamburguesa"><i class="fas fa-bars"></i></a>
  
   <!-- barras de navegacion -->
   <nav class="main-navbar">
      <ul class="left-navbar">
          <li><a href='#'>Productos</a></li>
          <li><a href='#'>Ofertas<a></li>
          <li><a href='#'>Sobre Nosotros</a></li>
          <li><a href='#'>Contactanos</a></li>
      </ul>
  
      <ul class="right-navbar">
          <li><a href='/register'><i class="far fa-user"></i> Crea tu cuenta</a></li>
          <li><a href='/login'><i class="fas fa-sign-in-alt"></i> Ingresar</a></li>
          <li><a href='#'><i class="far fa-bell"></i></a> </li>
          <li><a href='#'><i class="fas fa-shopping-cart"></i></a> </li>
          <li><a href='#'><i class="far fa-heart"></i></a> </li>
       </ul>
  </nav>

  
  
  
  </header>
  
  <!-- ========================================MAIN======================================================= -->
 
<figure class="imagen-producto"><img class="img-pructo" src="#" alt=""></figure>
<div class="bloque-de-producto">
    <div class="producto-div1">
    <h1>Marca de vino</h1>
    <p>Bodega</p>
    <i>icono de corazon</i>
  </div>  

  <div class="producto-div2">
    <i>icono de uva</i>
    <p class="descripcion">descripcion</p>
  </div>
  <i>icono de carrito</i>
  <input type="radio " class="cantidad"> 
  <label for="">Cantidad de Botellas</label>
  <p>$9999</p>
  <button>Comprar</button>
  </div>
<h3>Compartir</h4>
  <div class="redes-sociales">
    <a href=""><i>iconos redes sociales insta </i></a>
    <a href=""><i>iconos redes sociales facebuk</i></a>
    <a href=""><i>iconos redes sociales twitter</i></a>
  </div>

  <div class="div-productos-y-ofertas">
    <h3>Productos y Ofertas</h3>
    <section>
      <article>
        <figure><img src="#" alt="oferta ..."></figure>
        <h4>Titulo del producto en oferta</h4>
        <p>descricion del producto en oferta</p>
      </article>
      <article>
        <figure><img src="#" alt="oferta ..."></figure>
        <h4>Titulo del producto en oferta</h4>
        <p>descricion del producto en oferta</p>
      </article>
      <article>
        <figure><img src="#" alt="oferta ..."></figure>
        <h4>Titulo del producto en oferta</h4>
        <p>descricion del producto en oferta</p>
      </article>
    </section>
  </div>
  <!-- =============================================FOOTER============================================= -->
  <!-- <footer>
    <div class="footer-columna-1">
    <figure>img del logo</figure>
    <div class="redes sociales">
      <a href="#"><i>icono redes sociales</i></a>
      <a href="#"><i>icono redes sociales</i></a>
      <a href="#"><i>icono redes sociales</i></a>
    </div>
  </div>
  <div class="footer-columna-2">

  </div>
  </footer> -->
</body>
</html>
