<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="icon" href="/img/Logo-fondo-transparente.png">
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet"
/>
<link rel="stylesheet" href="/css/normalize.css">
<link rel="stylesheet" href="/css/home.css" />
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link rel= "stylesheet" type= "text/css" href= "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    href="https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap"
    rel="stylesheet"
/>
</head>
<body>
    <!-- ===========================================HEADER===================================================   -->

    <header class="main-header">
        <!-- top bar  -->
        <div class="main-header-top-bar">
            <img id="logo" src="/img/logo-amarillo-violeta.png" alt="">
            <form  class="barra-de-busqueda-form" action="" method="post" target="_blank">
                <fieldset class="barra-de-busqueda-fieldset"> 
                    <input type="search" id="search" placeholder="Buscar vino y bodega">
                    <span class="icono-busqueda"><i class="fa fa-search"></i></span>
                </fieldset>
            </form> 
        </div>
        <!-- boton hamburguesa  -->
        <a href="#" class="boton-hamburguesa"><i class="fas fa-bars"></i></a>
        <!-- barras de navegacion -->
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href='#'>Productos</a></li>
                <li><a href='#'>Ofertas<a></li>
                <li><a href='#'>Sobre Nosotros</a></li>
                <li><a href='#'>Contactanos</a></li>
            </ul>
            <ul class="right-navbar">
                <li><a href='/registro'><i class="far fa-user"></i> Crea tu cuenta</a></li>
                <li><a href='/login'><i class="fas fa-sign-in-alt"></i> Ingresar</a></li>
                <li><a href='#'><i class="far fa-bell"></i></a> </li>
                <li><a href='#'><i class="fas fa-shopping-cart"></i></a> </li>
                <li><a href='#'><i class="far fa-heart"></i></a> </li>
            </ul>
        </nav>
    </header>

<!-- ===========================================MAIN===================================================   -->
<!-- =============BANNER==========-->
<main>
    <div><img class="main__banner" src="/img/banner.jpg" alt="img-home-banner"></div>
    
    <section>
<!-- =============PRODUCTOS==========-->
    <h3>--CONOCÉ NUESTRAS PROMOCIONES--<a href="#"> ver más</a> </h3>
    
            <div class="main__section__lastvisit">
    
    <article id="art1" class="articulos">
            <img class="imagenArticulo" src="img/product_vinos1.jpg" alt="">
            <div class="detalleArticulos">   
            <p class="precio">$600</p>
            <p class="descuentos">30% OFF</p>
            <h4 class="descripciones">Alma Mora <p>Select Reserve Blend</p></h4>
                    
            </div>
    </article>
    <article id="art2" class="articulos">
            <img class="imagenArticulo" src="img/product_vinos2.jpg" alt="">
            <div class="detalleArticulos">       
            <p class="precio">$350</p>
            <p class="descuentos">30% OFF</p>
            <h4 class="descripciones">Finca Las Moras <p>Cabernet Souvingnon </p></h4> </div>
    </article>
    <article id="art3" class="articulos">
            <img class="imagenArticulo" src="img/product_vinos3.jpg" alt="">
            <div class="detalleArticulos"> 
            <p class="precio">$420</p>
            <p class="descuentos">30% OFF</p>
            <h4 class="descripciones">Finca Las Moras <p> PAZ Sirah</p></h4> </div>
    </article>
    <article id="art4" class="articulos">
            <img class="imagenArticulo" src="img/product_vinos2.jpg" alt="">
            <div class="detalleArticulos">  
            <p class="precio">$420</p>
            <p class="descuentos">30% OFF</p>
            <h4 class="descripciones">Finca Las Moras <p>PAZ Souvignon Blanc</p></h4> </div>
    </article>
    
            </div>
    </section>
    
    <!--==========================SECCION DE EXPERTOS============================-->
    <section> 
            <h3>--SECCIÓN DE ESPERTOS--<a</h3>
    
            <div class="main__section__ofertas">
            
            <article id="art5" class="articulos">
                    <img class="imagenArticulo" src="img/dm-experto.png" alt="">
                    <div class="detalleArticulos"> 
                    <h4 class="descripciones">Delfina Molter <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p></h4> </div>
            </article>
            <article id="art6" class="articulos">
                    <img class="imagenArticulo" src="img/gl-experto.png" alt="">
                    <div class="detalleArticulos"> 
                    <h4 class="descripciones">Gonzalo Lorenzo <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p></h4> </div>
            </article>
    
            <article id="art7" class="articulos">
                    <img class="imagenArticulo" src="img/persona.experto.png"alt="">
                    <div class="detalleArticulos">
                    <h4 class="descripciones">Emanuel Mendiolaza <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p></h4> </div> 
            </article>
            </div>
    </section>
    
    
    <h3 id="marcas">--CONOCÉ NUESTRAS MARCAS--</h3>
            <div class="brand-carousel owl-carousel">
            <div>
                    <a href="Aca va una URL"><img src="img/logo_elesteco.jpg" alt="" /></a>
            </div>
            <div>
                    <a href="Aca va una URL"><img src="img/logo_fincalasmoras.jpg" alt="" /></a>
            </div>
            <div>
                    <a href="Aca va una URL"><img src="img/logo_trapiche.jpg" alt="" /></a>
            </div>
            <div>
                    <a href="Aca va una URL"><img src="img/logo_navarrocorreas.jpg" alt="" /></a>
            </div>
    </div>
    </section>
    
    
    </main>
    
    <footer class="footer">
    <div= class="container">
            <div class= "row">
            <div class= "footer-col">
                    <h4> CATEGORÍAS </h4>
                    <ul> 
                    <li><a  href= "#">Inicio</a> </li > 
                    <li><a  href= "#">Sobre Nosotros</a> </li >
                    <li><a  href= "#">Productos</a> </li >   
                    <li><a  href= "#">Ofertas </a> </li > 
                    </ul>
            </div>
            
            <div class= "footer-col">
                    <h4> AYUDA </h4>
                    <ul> 
                    <li><a  href= "#">Búsqueda</a> </li >
                    <li><a  href= "#">Contactanos</a> </li > 
                    <li><a  href= "#">Terminos & C.</a> </li > 
                    <li><a  href= "#">Privacidad</a> </li >  
                    <li><a  href= "#">Preguntas Frecuentes</a> </li > 
                    </ul>
            </div>
    
            <div class= "footer-col">
                    <h4> SEGUINOS</h4>
                    <div class= "social-links">
                    
                    <a href= "#"><i class="fab fa-facebook-f"></i></a> 
                    <a href= "#"><i class="fab fa-instagram"></i></a> 
                    <a href= "#"><i class="fab fa-twitter"></i></a> 
                    
            </div>
    </div>
    </div>
    <p class="footer__Copyright">Copyright © 2021 Todos los Derechos Reservados</p>
    
    </footer>


</body>
</html>
