<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="../public/css/styles.css" rel="stylesheet" />
  </head>
  <body>
    <h1>Salú, bienvenido</h1>

    <li>esto es una prueba de los links</li>
    <li>
      <a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
    </li>
    <li>
      <a href="/detalle_producto"
        >Detalle producto <i class="fas fa-sign-in-alt"></i
      ></a>
    </li>
    <li>
      <a href="/carrito_de_compra"
        >Carrito de compra <i class="fas fa-sign-in-alt"></i
      ></a>
    </li>
    <li>
      <a href="/registro">Registrate <i class="fas fa-sign-in-alt"></i></a>
    </li>
    <li>
      <a href="/home">Home del sitio <i class="fas fa-sign-in-alt"></i></a>
    </li>
  </body>
</html>
