/*
Colores:
#240C31 dark purole (violeta vino)
#5e257c (violeta claro) BOTON HOVER
#5F5566 old lavender (gris oscuro)
#dad7dd (gris claro) FONDO DE REGISTRO
#F5F5F5 cultured (blanco)
#FCD75F orange yellow crayola (amarillo)
#f0c949 (naranjita)HAMBURGUESA

Tipografía:
font-family: 'KoHo', sans-serif;

*/
*{
    box-sizing:border-box;
    margin:0px;
    padding:0px;
}
body{
    font-family: 'KoHo', sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
/* =========================================HEADER ================================================*/
.main-header {
    background-color: #240c31;
    padding: 10px;
    margin-bottom: 30 px;
}
.main-header-top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
}
#logo {
    max-width: 10%;
    max-height: auto;
}
/*-------------------------- search bar*/
.barra-de-busqueda-form {
    width: 50%;
}
.barra-de-busqueda-fieldset {
    display: flex;
    border: 0;
}
#search {
    width: 75%;
    margin: 0;
    border: #222222 solid 2px;
    border-radius:5px;
}
.barra-de-busqueda-form input #search {
    background: #adb5be;
    border: none;
    font-size: 12px;
    color: #adb5be;
    padding-left: 10px;
    border-radius: 5px;
}
.icono-busqueda {
    width: 25%;
    margin-top: 2px;
    margin-left: 5px;
}
.icono-busqueda i {
    background-color: #240c31;
    color: #f0c949;
    font-size: 15px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    border-radius: 50%;
}/* ---------------------boton hamburguesa */
.boton-hamburguesa {
    padding: 8px 5px;
    max-width: 35px;
    background-color: #f0c949;
    color: white;
    text-align: center;
    font-size: 15px;
    margin: auto;
    border-radius: 8px;
    display: block;
    margin-top: 10px;
}
.main-navbar {
    display: none;
}

/*========= MAIN =============*/
main{
    margin: 10px 20px;
    display: flex;
    flex-direction:column;
    align-items:center;
}
.tabla__productos{
    display: flex;
    flex-direction: column;
} 
.tabla__productos__box{
    margin:0px 0px 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items:center;
    box-shadow: 0px 0px 6px rgb( 100 , 100 , 100 );
}
.tabla__productos__box__imagenProductro{
    position: relative;
    justify-content: center;
    width:80vw;
    margin:auto;
    padding:25px;
}
.tabla__productos__box__bodega{
    margin:10px;
}
.tabla__productos__box__uva{
    display: flex;
    flex-direction: row;
    justify-content:center;
}
.tabla__productos__box__uva__icon{
    width:5vw;
    margin:0px 2px;;
}
.tabla__productos__box__cantidadB{
    font-size: 16px;
    margin: 7px;
}
.tabla__productos__box__cantidadP{
    display: flex;
    flex-direction:row;
    margin: 10px;
}
.tabla__productos__box__cantidadP i{
    display:flex;
    border-radius: 50%;
    background-color: #dad7dd;
    color:#240C31;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin: 0px 20px;
    transition: 400ms;
}
.tabla__productos__box__cantidadP p{
    font-weight: bold;
    margin:5px 0px 0px;
}
.tabla__productos__box__precio{
    font-weight: bold;
    font-size: 30px;
    margin:10px 0px 25px;
}
.footer__envio{
    display: flex;
}
.footer__envio{
    display: flex;
    justify-content:space-between;
}
.footer__envio__precio{
    font-weight: bold;
}
.footer__total{
    display: flex;
    justify-content:space-between;
    align-items:flex-end;
    margin:20px;
    font-weight: bold;
}
.footer__total__texto{
    font-size:20px;
    padding:5px;
}
.footer__total__precio{
    font-size: 35px;
    padding:0px 10px;
}

button{
    margin: 7px;
    padding: 6px;
    width:25vw;
    border-radius: 7px;
    background-color:#240C31;
    color: #F5F5F5;   
}
/*-------- MOBILE --------*/
@media (min-width: 361px){
    button{
        width:20vw;
        max-width:90px;   
    }
}
/*-------- MOBILE XL--------*/
/*@media (min-width: 480px){
    .tabla__productos{

    } 
}*/
/*-------- TABLE --------*/
@media (min-width: 768px){
/* ======================================HEADER */
.main-navbar {
    display: flex;
    justify-content: space-between;
}
.main-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.main-navbar a {
    text-decoration: none;
    display: inline-block;
    padding: 5px 0;
}
.left-navbar {
    display: flex;
    justify-content: space-between;
}
.right-navbar {
    display: flex;
    justify-content: space-between;
}
.main-navbar li a {
    color: #f0efee;
    margin: 7px;
}
.boton-hamburguesa {
    display: none;
}
.main__header__section {
    max-width: 80vw;
    margin: auto;
}

/* =======================================MAIN */
    main{
        margin: 10px 40px;
    }
    .tabla__productos__box__cantidadP{
        transition: 400ms;
    }
    .tabla__productos__box__cantidadP i:hover{
        background-color: #5F5566;
        color:#dad7dd;
    }
    .submit button{
        transition: 400ms;    
    }
    button:hover{
        background-color:#5e257c;
    }
}
/*-------- DESKTOP --------*/
@media (min-width: 1100px){
    main{
        margin: 10px 50px;
    }

}