body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;  
  font-family: "KoHo", sans-serif;
  
}

/* ===============================================MAIN=============================================== */
main{
margin: auto;
background-color: #ebebeb;
padding-bottom: 10px;
color: #666;
}
.box-superior {
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
.figure-producto {
  /* border: black 2px solid; */
  max-width: 35vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-producto {
  width: 100%;
  max-height: 400px;
  height: auto;
  cursor: zoom-in;
}

.titulos-y-fav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  padding-top: 30px;
  align-items: center;
}
.vino-y-bodega {
  font-size: 1.2em;
}
.titulos-y-fav .fas {
  font-size: 1.2em;
  color: rgb(155, 149, 150);
  margin-left: 20px;
}

.div-icono-y-descripcion {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 10px;
  max-width: 500px;
  margin: 0 10px;
  text-align:justify;
}
.uva{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px 0px 10px;
  font-weight: bold;
}

#icono-uva {
  width: 40px;
}
/* ====================Section compra */


#precio {
  font-size: 26px;
  font-weight: bold;
  color: #000;
  margin: 10px 10px 10px 2px;
}
#cuotas {
  font-size: 15px;
  font-weight: bold;
  margin-right: 2px;
  margin: 10px 2px 10px 2px;
}
#valor-cuotas {
  font-size: 15px;
  font-weight: bold;
  margin: 10px 2px 10px 2px;
}
.span-cuotas {
  margin: 10px 2px 10px 2px;
}
.span-precio {
  display: flex;
  align-items: center;
  margin-bottom: -7px;
}

.columna-der{
  margin: 0 20px;
}
/* =========================article cantidad */
.cantidad {
  margin-top: 10px;
  margin-bottom: 10px;
}
/* ===========================botones*/
.form-comprar {
  margin-top: 15px;
  margin-left: 10px;
  margin-top: 7px;
}
.art-buttons{
  margin-top: 15px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;  
}
.button {

  display: block;
  color: #fff;
  margin: 4px 0px 8px 0px;
  background: #775e88;
  border: 0px solid;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center; 
  width: 100px;
  border-radius: 5px;
}

.admin-button-editables{
  /* color: rgb(44, 44, 121); */
  color:  #775e88;
  text-decoration: none;
  background-color: #fcd75f;
}
.comprando{
  display:flex;
  flex-direction: column;
  align-items: flex-end;
}
/* ===========================redes sociales */
.rrss {
 color: #775e88;
width: 100%;
margin-top: 30px;
margin-left: 10px;
margin-bottom: 2em;
display: flex;
justify-content: space-around;
}
.rrss .fab {
  font-size: 1em;
  color: #775e88;
  display: inline-block;
  margin-left: 10px;
}

/* ======================================PRODUCTOS Y OFERTAS */

.div-productos-y-ofertas {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.section-productos-y-ofertas {
  margin-top: 30px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-productos-y-ofertas article {
  margin-bottom: 3em;
}

#h3-ofertas {
  margin: 100px 0;
  text-align: center;
  font-size: 2em;
  border-top: #fcd75f 1px solid;
  border-bottom: #fcd75f   1px solid;
  padding: 15px;
  color: #666;
 
}

/* ===========================================MEDIA QUERIES=========================================== */

/* ------------------------------tablet ----------------------------------------------- */
@media (min-width: 510px) {

  .art-buttons{
    flex-direction: row;
    justify-content: space-around;
  }
}

/* ------------------------------desktop ----------------------------------------------- */
@media (min-width: 769px) {

  .vino-y-bodega {
    font-size: 1.5em;
  }
  .titulos-y-fav .fas {
    font-size: 2em;
   
  }
  #icono-uva {
    width: 20px;
  }

  .section-productos-y-ofertas {
    flex-direction: row;
    justify-content: space-around;
  }
  .div-rrss {
    justify-content: space-around;
  }

}
/* ================================ Desktop==========================================*/

@media (min-width: 1000px) {
  /* -------------------------Main */
  .detalle-producto {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 2px 4px 5px -3px rgba(59,55,55,0.75);
-webkit-box-shadow: 2px 4px 5px -3px rgba(59,55,55,0.75);
-moz-box-shadow: 2px 4px 5px -3px rgba(59,55,55,0.75);
  }
    .columna-der {
      position: relative;
      top: 30px;
    }
  /* imagen producto */
  .figure-producto {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .img-producto {
    width: 100%;
    max-width: 400px;
    height: auto;
    transition: width 2s, height 2s, transform 2s;
    
  }

  .img-producto:hover{
    transform : scale(1.2);
  }
  .rrss {
    justify-content: space-between;
    padding-right: 800px;
  }


  #main-block{
    display: flex;
    align-items: center;
  }

  .detalle-producto{
    display: flex;
    flex-direction: column;
  }

  .titulos-y-fav {
    width: 80%;
    margin-bottom: 0;
    }
}