body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;  
  font-family: "KoHo", sans-serif;
  
}

/* ===============================================MAIN=============================================== */
main{
background-color: #ebebeb;
padding-bottom: 10px;
color: #666;
}
.detalle-producto{
  background-color: #ffffff;
  width:100vw;
  display: flex;
  flex-direction:column;
  color: #666;
}

.figure-producto {
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-producto {
  width: 80% ;
  max-width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-block{
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items:flex-end;
  margin-bottom: 20px;
}
.titulo-producto{
  display: flex;
}
.titulos-y-fav {
  font-size: 1.2em;
  display: flex;
  flex-direction:column;
  justify-content: space-around;
  margin-bottom: 20px;
  padding-top: 30px;
  align-items: center;
}
.vino-y-bodega {
  font-size: 1.2em;
}
.titulo-producto .fas {
  margin: 5px 0px 0px 5px;
  color: #752aa7;
  font-size: 1.2em;
}

.div-icono-y-descripcion {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 300px;
  margin: 10px 0px 0px 20px;
}
p.descripcion{
  text-align: justify;
}
.uva{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px 0px 10px;
  font-weight: bold;
}

#icono-uva {
  width: 30px;
  margin-right: 5px;
}
/* ====================Section compra */

.span-precio {
  display: flex;
  align-items: flex-end;
}
#precio {
  font-size: 26px;
  font-weight: bold;
  color: #000;
  margin: 30px 0px 0px 2px;
}
#botella{
  padding:  0px 0px 0px 7px;
}
#cuotas {
  font-size: 15px;
  font-weight: bold;
  text-align: right;
  margin: 10px 2px 10px 2px;
}

.span-cuotas {
  margin: 10px 2px 10px 2px;
}

/* =========================article cantidad */
.cantidad {
  margin-top: 10px;
  margin-bottom: 10px;
}
/* ===========================botones*/
.form-comprar {
  margin-top: 15px;
  margin-left: 10px;
  margin-top: 7px;
}
.art-buttons{
  margin: 15px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;  
}
.button {
  display: block;
  color: #fff;
  margin: 4px 5px 8px 5px;
  background: #775e88;
  border: 0px solid;
  cursor: pointer;
  font-weight: bold;
  padding: 8px 10px 8px 10px;
  text-align: center; 
  width: 100px;
  border-radius: 7px;
}

.admin-button-editables{
  color:  #775e88;
  text-decoration: none;
  background-color: #fcd75f;
}
.comprando{
  display:flex;
  flex-direction: column;
  align-items: flex-end;
}
/* ===========================redes sociales */
.rrss {
 color: #775e88;
max-width: 400px;
margin-top: 30px;
margin-left: 10px;
margin-bottom: 2em;
display: flex;
justify-content: space-around;
}
.rrss .fab {
  font-size: 1em;
  color: #775e88;
  display: inline-block;
  margin-left: 10px;
}

/* ======================================PRODUCTOS Y OFERTAS */

.div-productos-y-ofertas {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.section-productos-y-ofertas {
  margin-top: 30px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-productos-y-ofertas article {
  margin-bottom: 3em;
}

#h3-ofertas {
  margin: 100px 0;
  text-align: center;
  font-size: 2em;
  border-top: #fcd75f 1px solid;
  border-bottom: #fcd75f   1px solid;
  padding: 15px;
  color: #666;
 
}

/* ===========================================MEDIA QUERIES=========================================== */

/* ------------------------------tablet ----------------------------------------------- */
@media (min-width: 510px) {

  .art-buttons{
    flex-direction: row;
    justify-content: space-around;
  }
}

/* ------------------------------desktop ----------------------------------------------- */
@media (min-width: 768px) {
.detalle-producto{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding:30px 5px;
}

#main-block{
  width: 40vw;
}
  .vino-y-bodega {
    font-size: 1.5em;
  }
  .titulos-y-fav .fas {
    font-size: 2em;
   
  }

  .section-productos-y-ofertas {
    flex-direction: row;
    justify-content: space-around;
  }
  .div-rrss {
    justify-content: space-around;
  }
  .img-producto {
    width: 100%;
    max-height: 400px;
    cursor: zoom-in;
  }

}
/* ================================ Desktop==========================================*/

@media (min-width: 1000px) {
  /* -------------------------Main */
  .img-producto {
    width: 100%;
    max-width: 400px;
    height: auto;
    transition: width 2s, height 2s, transform 2s;
    
  }
  .img-producto:hover{
    transform : scale(1.2);
  }
  .div-icono-y-descripcion{
    max-width: 500px;
    align-items: flex-start;
  }
  #main-block{
    align-items:flex-start;
    margin:0px 0px 20px 40px;
  }
  .titulo-producto .fas {
    margin: 40px 0px 0px 40px;
    color: #752aa7;
    font-size: 1.3em;
  }

  .button {
    transition: 400ms;
  }
  .button:hover {
    background: #240C31;
  }
  
  .admin-button-editables:hover{
    color:  #240C31;
    text-decoration: none;
    background-color: #f7c934;
  }

  .comprando{
    width:80%;
    align-items: flex-end;
  }
}