header{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 12px;
  font-family: "KoHo", sans-serif;
}

.main-header {
  background-color: #240c31;
  padding: 10px;
}


.main-header-top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 100%;
}
#logo {
  width: 100%;
}
#a-logo{
  max-width: 50%;
  max-width: 200px;
}

/*-------------------------- search bar*/
.barra-de-busqueda-form {
 max-width: 50%;
}
.barra-de-busqueda-fieldset {
  display: flex;
  border: 0;
  position: relative;
  left: 10px;
}
#search {
  width: 75%;
  margin: 0;
  border-radius: 5px;
}
.barra-de-busqueda-form input #search {
  background: #adb5be;
  border: none;
  font-size: 12px;
  color: #adb5be;
  padding-left: 10px;
  border-radius: 5px;
}
.icono-busqueda{
  background-color:transparent; 
  border-color: transparent; 
  box-shadow: none
}
.icono-busqueda i {
  background-color: #240c31;
  color: #f0c949;
  font-size: 15px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  border-radius: 50%;
}
.icono-busqueda:hover{
  cursor: pointer;
}
.icono-busqueda i:hover{
  box-shadow: 0 0 5px 0px rgba(163, 159, 159, 0.8);
transition: all 100ms;
transform: scale(1.01);
}

/* ---------------------boton hamburguesa */
.boton-hamburguesa {
  padding: 8px 5px;
  max-width: 35px;
  background-color: #f0c949;
  color: #240c31;
  text-align: center;
  font-size: 15px;
  margin: auto;
  border-radius: 8px;
  display: block;
  margin-top: 10px;
}
.main-navbar {
  display: none;
}

/*-------------------------------------------Media Queries----------------------------------------------*/

@media (min-width: 700px) {

  .main-navbar {
    display: flex;
    justify-content: space-between;
  }

  .main-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .main-navbar a {
    text-decoration: none;
    display: inline-block;
    padding: 5px 0;
  }

  .left-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .right-navbar {
    display: flex;
    justify-content: space-between;
  }
  .main-navbar li a {
    color: #f0efee;
    margin: 7px;
  }

  .boton-hamburguesa {
    display: none;
  }
  .main__header__section {
    max-width: 80vw;
    margin: auto;
  }
}

