* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 12px;
  font-family: "KoHo", sans-serif;
}

/* ====================================== MAIN ============================================ */
/*main {
margin: auto;
background-color: #ebebeb;
padding-bottom: 10px;
}*/

.main__banner {
  width: 100vw;
  max-width: 100vw;
}

p {
  font-size: 12px;
}

h3 {
  font-size: 25px;
  color: #666;
  text-align: center;
  font-weight: 300;
}

h3 a {
  font-size: 16px;
  font-weight: 200;
  color: rgb(94, 94, 138);
  margin-left: 8px;
}

.articulos {
  margin: 10px;
  background-color: white;
  position: relative;
  transition: all 0, 5s ease;
}

.detalleArticulos {
  border-top: solid 1px #fcd75f;
  padding: 15px;
}

.descripciones {
  font-size: 15px;
  display: none;
}

.imagenArticulo {
  width: 30vw;
  margin: auto;
}

/* NECESITAMOS CENTRAR IMAGEN UNICAMENTE EN MOBILE */
@media (max-width: 500px) {
  .imagenArticulo {
    position: relative;
    left: 15vw;
  }
}

.precio {
  font-size: 16px;
  font-weight: bold;
}

.descuentos {
  font-size: 15px;
  font-weight: bold;
  color: #fcd75f;
}

.fa-truck {
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #fff;
  color: green;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15p;
}

.main__section__lastvisit {
  display: flex;
  flex-direction: column;
}

.brand-carousel {
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center;
}
.brand-corousel-article {
  margin: 15px 0;
}
#marcas {
  margin-top: 50px;
}

/*-------------------------------------------MEDIA QUERIES--------------------------------------------*/

/* --------------- TABLETS --------------- */

@media (min-width: 500px) {
  .descripciones {
    display: block;
  }

  .detalleArticulos {
    display: none;
  }

  .imagenArticulo:hover + .detalleArticulos {
    display: block;
    opacity: 1;
    background-color: white;
    width: 45vw;
  }

  .imagenArticulo:hover {
    box-shadow: 0 0 16px 0px rgba(20, 20, 20, 0.8);
    width: 45vw;
  }

  @keyframes aumentarLogo {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(3.5);
    }
  }

  #barraBusqueda {
    width: 30vw;
  }

  #barra {
    width: 30vw;
  }

  .cuotas {
    width: 30vw;
  }

  .main__section__lastvisit,
  .main__section__ofertas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .articulos * {
    width: 40vw;
  }

  .detalleArticulos {
    width: 40vw;
  }

  .fa-truck {
    max-width: 3vw;
  }

  /* conoce nuestras marcas */
  .brand-carousel {
    display: flex;
    justify-content: space-around;
  }
}

/* --------------------- DESKTOP  --------------------- */
@media (min-width: 769px) {
  .imagenArticulo:hover + .detalleArticulos {
    display: block;
    opacity: 1;
    background-color: white;
    width: 25vw;
  }

  .imagenArticulo:hover {
    box-shadow: 0 0 16px 0px rgba(20, 20, 20, 0.8);
    width: 25vw;
  }

  .cuotas {
    max-width: 350px;
    text-align: right;
  }

  /* PARA CAMBIAR DE COLOR EN LOS ICONOS*/
  .fa-handshake:hover,
  .fa-gift:hover,
  .fa-credit-card:hover {
    color: #27639b;
  }
  .main__section__lastvisit,
  .main__section__ofertas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .articulos * {
    width: 20vw;
  }

  .detalleArticulos {
    width: 20vw;
  }
  .fa-truck {
    max-width: 3vw;
  }

  /* conoce nuestras marcas */
  .brand-div-resposive {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  #brand-article-1 {
    position: relative;
    right: 40px;
  }
  #brand-article-2 {
    position: relative;
    left: 40px;
  }
  #brand-article-3 {
    position: relative;
    right: 40px;
  }
  #brand-article-4 {
    position: relative;
    left: 40px;
  }
}
