*{
  box-sizing:border-box;
  margin:0px;
  padding:0px;
}


/* =================================================MAIN============================================== */

body{
  font-family: 'KoHo', sans-serif;
  font-size: 18px;
  background: #dad7dd;
}
#imagen-copitas {
  width: 75px;
  height: auto;
}
#figure-copitas{
  text-align: center;
}
#main-div {
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  align-items:center;
}
#titulo-ingresar {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 0;
}

#texto-ingresa {
  text-align: center;
  margin-bottom: 30px;
}

#login-fildset {
  display: flex;
  flex-direction: column;
  align-items:center;
  margin: 10px 0px 5px;
  border: none;
}

.input {
  width: 40vw;
  height: 5vh;
  padding: 5px;
  margin:7px 0px 9px;
  border-radius: 7px;
  border:none;
}

.input::placeholder{
  font-size: 0.7em;
  color: gray;
}

.is-invalid {
  border: red solid 2px
}
.text-danger{
  color:red;
  font-size: 0.7em;

} 

#button {
  background-color: #240c31;
  width: 40vw;
  height: 6vh;
  font-weight: 500;
  color: white;
  margin-left: 6px;
  margin-top: 10px;
  border-radius: 7px;
}

#olvido-pass-enlace {
  margin-top: 20px;
  text-align: center;
}

#saveUser{
  display: flex;
  align-items: center;
}
#saveUser label {
  margin-left: 10px;
  font-size: 0.8rem;
}



/* ===========================================MEDIA QUERIES=========================================== */
/* ------------------------------Tablet */
@media (min-width: 769px) {

}