* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
  font-family: "KoHo", sans-serif;
}

/* =========================================HEADER ================================================*/
.main-header {
  background-color: #240c31;
  padding: 10px;
  margin-bottom: 30 px;
}
.main-header-top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;

}

#logo {
  max-width: 10vh;
  max-height: auto;
}

/*-------------------------- search bar*/

.barra-de-busqueda-form {
  width: 50%;
}
.barra-de-busqueda-fieldset {
  display: flex;
  border: 0;
}
#search {
  width: 75%;
  margin: 0;
  border-radius: 5px;
}
.barra-de-busqueda-form input #search {
  background: #adb5be;
  border: none;
  font-size: 12px;
  color: #adb5be;
  padding-left: 10px;
  border-radius: 5px;
}

.icono-busqueda {
  width: 25%;
  margin-top: 2px;
  margin-left: 5px;
}
.icono-busqueda i {
  background-color: #240c31;
  color: orange;
  font-size: 15px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  border-radius: 50%;
}

/* ---------------------boton hamburguesa */
.boton-hamburguesa {
  padding: 8px 5px;
  max-width: 35px;
  background-color: orange;
  color: white;
  text-align: center;
  font-size: 15px;
  margin: auto;
  border-radius: 8px;
  display: block;
  margin-top: 10px;
}

.main-navbar {
  display: none;
}

/* =================================================MAIN============================================== */

body {
  background-color: #f5f5f5;
}
.imagen-copitas {
  height: 50px;
  width: 50px;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main-div {
  background-color: #fff;
  width: 50vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 10px;
}

.texto-ingresa {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 30px;
}

.login-fildset {
  display: flex;
  flex-direction: column;
  border: 0;
  background-color: #fff;
}

form {
  text-align: center;
  display: flex;
  justify-content: center;
}

form input {
  width: 40vw;
  height: 5vh;
  margin: 1vh;
}

button {
  background-color: #240c31;
  width: 40vw;
  height: 6vh;
  font-weight: 500;
  color: white;
  margin-left: 6px;
  margin-top: 10px;
}

.olvido-pass-enlace {
  margin-top: 20px;
  text-align: center;
}

/* ===========================================MEDIA QUERIES=========================================== */
/* ------------------------------Tablet */
@media (min-width: 769px) {
  /* ======================================HEADER */
  .main-navbar {
    display: flex;
    justify-content: space-between;
  }

  .main-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .main-navbar a {
    text-decoration: none;
    display: inline-block;
    padding: 5px 0;
  }

  .left-navbar {
    display: flex;
    justify-content: space-between;
  }

  .right-navbar {
    display: flex;
    justify-content: space-between;
  }
  .main-navbar li a {
    color: #f0efee;
    margin: 7px;
  }

  .boton-hamburguesa {
    display: none;
  }
  .main__header__section {
    max-width: 80vw;
    margin: auto;
  }
}
