/*
Colores:
#240C31 dark purole (violeta vino)
#5e257c (violeta claro) BOTON HOVER
#5F5566 old lavender (gris oscuro)
#dad7dd (gris claro) FONDO DE REGISTRO
#F5F5F5 cultured (blanco)
#FCD75F orange yellow crayola (amarillo)

Tipografía:
font-family: 'KoHo', sans-serif;

*/
*{
    box-sizing:border-box;
    margin:0px;
    padding:0px;
}
body{
    font-family: 'KoHo', sans-serif;
    font-size: 18px;
    background: #dad7dd;
    display: flex;
    flex-direction: column;
    align-items:center;
}
/* =========================================HEADER ================================================*/
.main-header {
    background-color: #240c31;
    padding: 10px;
    margin-bottom: 30px;
}
.main-header-top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
}
#logo {
    max-width: 10%;
    max-height: auto;
}
/*-------------------------- search bar*/
.barra-de-busqueda-form {
    width: 50%;
}
.barra-de-busqueda-fieldset {
    display: flex;
    border: 0;
}
#search {
    width: 75%;
    margin: 0;
    border: #222222 solid 2px;
    border-radius:5px;
}
.barra-de-busqueda-form input #search {
    background: #adb5be;
    border: none;
    font-size: 12px;
    color: #adb5be;
    padding-left: 10px;
    border-radius: 5px;
}
.icono-busqueda {
    width: 25%;
    margin-top: 2px;
    margin-left: 5px;
}
.icono-busqueda i {
    background-color: #240c31;
    color: #f0c949;
    font-size: 15px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    border-radius: 50%;
}/* ---------------------boton hamburguesa */
.boton-hamburguesa {
    padding: 8px 5px;
    max-width: 35px;
    background-color: #f0c949;
    color: white;
    text-align: center;
    font-size: 15px;
    margin: auto;
    border-radius: 8px;
    display: block;
    margin-top: 10px;
}
.main-navbar {
    display: none;
}

/*========================= MAIN ===========================================*/

.registro{
    display: flex;
    flex-direction: column;
    align-items:center;
}
.registro__nota{
    text-align: center;
    padding:3px;
    margin:0px 14px;
}
.form{
    display: flex;
    flex-direction: column;
    align-items:center;
}
fieldset{
    border: none;
}
.form__registro__datos{
    display: flex;
    flex-direction: column;
    align-items:center;
    margin: 10px 0px 5px;
}
.form__registro__datos input{
    padding: 5px;
    margin:7px 0px 9px;
    border-radius: 7px;
    border:none;
    width: 65vw;
}
.form__registro__condiciones{
    font-size:14px;
    text-align: center;
}
.form__registro__botones{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 5px;
    border-radius: 7px;
}
.form__registro__botones button{
    margin: 7px;
    padding: 2px 6px;
    width:25vw;
    border-radius: 7px;
    background-color:#240C31;
    color: #F5F5F5;   
}
/*-------- MOBILE --------*/
@media (min-width: 361px){
    .logo{
        width:17vw;
        min-width: 85px;
    }
    .form__registro__datos input{
        width: 45vw;
        min-width: 270px;
        max-width: 310px;
    }
    .form__registro__botones{
        display: flex;
        flex-direction: row;
    }
    .form__registro__botones button{
        width:20vw;
        max-width:90px;   
    }
}
/*-------- TABLE --------*/
@media (min-width: 768px){
/* ======================================HEADER */
    .main-navbar {
        display: flex;
        justify-content: space-between;
    }
    .main-navbar ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .main-navbar a {
        text-decoration: none;
        display: inline-block;
        padding: 5px 0;
    }
    .left-navbar {
        display: flex;
        justify-content: space-between;
    }
    .right-navbar {
        display: flex;
        justify-content: space-between;
    }
    .main-navbar li a {
        color: #f0efee;
        margin: 7px;
    }
    .boton-hamburguesa {
        display: none;
    }
    .main__header__section {
        max-width: 80vw;
        margin: auto;
    }
/* =======================================MAIN */
    .logo{
        width:10vw;
        min-width: 130px;
    }
    .form__registro__botones button{
        transition: 400ms;    
    }
    .form__registro__botones button:hover{
        background-color:#5e257c;
    }
}
/*-------- DESKTOP --------*/
@media (min-width: 1100px){

}