<!DOCTYPE html>
<html lang="es">


<footer class="footer">
<div class="container">
        <div class= "row">
        <div class= "footer-col">
                <h4 class="title"> CATEGORÍAS </h4>
                <ul> 
                <li><a class="item" href= "#">Inicio</a> </li > 
                <li><a class="item" href= "#">Sobre Nosotros</a> </li >
                <li><a class="item" href= "#">Productos</a> </li >   
                <li><a class="item" href= "#">Ofertas </a> </li > 
                </ul>
        </div>
        
        <div class= "footer-col">
                <h4 class="title"> AYUDA </h4>
                <ul> 
                <li><a class="item" href= "#">Búsqueda</a> </li >
                <li><a class="item" href= "#">Contactanos</a> </li > 
                <li><a class="item" href= "#">Terminos & C.</a> </li > 
                <li><a class="item" href= "#">Privacidad</a> </li >  
                <li><a class="item" href= "#">Preguntas Frecuentes</a> </li > 
                </ul>
        </div>

        <div id="div-redes-sociales">
                <h4 class="title"> SEGUINOS</h4>
                <div class= "social-links">
                
                <a class="redes-sociales" href= "#"><i class="fab fa-facebook-f"></i></a> 
                <a class="redes-sociales" href= "#"><i class="fab fa-instagram"></i></a> 
                <a class="redes-sociales" href= "#"><i class="fab fa-twitter"></i></a> 
                
        </div>
</div>
</div>
</div>
<p class="footer__Copyright">Copyright © 2021 Todos los Derechos Reservados</p>

</footer>

</html>