<!DOCTYPE html>
<html lang="es">
<body>
        <header class="main-header">
                <!-- top bar  -->
                <div class="main-header-top-bar">
                        <a href="/"><img id="logo" src="/img/logo-amarillo-violeta.png" alt=""></a>
                        <form  class="barra-de-busqueda-form" action="" method="post" target="_blank">
                                <fieldset class="barra-de-busqueda-fieldset"> 
                                        <input type="search" id="search" placeholder="Buscar vino y bodega">
                                        <span class="icono-busqueda"><i class="fa fa-search"></i></span>
                                </fieldset>
                        </form> 
                </div>
                <!-- boton hamburguesa  -->
                <a href="#" class="boton-hamburguesa"><i class="fas fa-bars"></i></a>
                <!-- barras de navegacion -->
                <nav class="main-navbar">
                        <ul class="left-navbar">
                                <li><a href='#'>Ofertas<a></li>
                                <li><a href='#nosotros'>Sobre Nosotros</a></li>
                                <li><a href='#'>Contactanos</a></li>
                        </ul>
                        <ul class="right-navbar">
                                <li><a href='/registro'><i class="far fa-user"></i> Crea tu cuenta</a></li>
                                <li><a href='/login'><i class="fas fa-sign-in-alt"></i> Ingresar</a></li>
                                <li><a href='#'><i class="far fa-bell"></i></a> </li>
                                <li><a href='/carrito'><i class="fas fa-shopping-cart"></i></a> </li>
                                <li><a href='#'><i class="far fa-heart"></i></a> </li>
                        </ul>
                </nav>
        </header>
</body>
</html>