        <header class="main-header">
                <!-- top bar  -->
                <div class="main-header-top-bar">
                        <a id="a-logo" href="/"><img id="logo" src="/img/logos/logo.png" alt=""></a>
                        <form  class="barra-de-busqueda-form" action="/productos/buscar" method="get" target="_blank">
                                <fieldset class="barra-de-busqueda-fieldset"> 
                                        <input type="text" id="search" placeholder="Buscar vino y bodega" name="search">
                                        <button class="icono-busqueda" type="submit"><i class="fa fa-search"></i></button>
                                </fieldset>
                        </form> 
                </div>
                <!-- boton hamburguesa  -->
                <a href="#" class="boton-hamburguesa"><i class="fas fa-bars"></i></a>
                <!-- barras de navegacion -->
                <nav class="main-navbar">
                        <ul class="left-navbar">
                                <li><a href='/productos'>Productos</a></li>
                                <li><a href='/#nosotros'>Sobre Nosotros</a></li>
                                <li><a href='/productos/crear'>Crear Productos</a></li>
                        </ul>
                        <ul class="right-navbar">
                                <% if (locals.isLogged) { %>
                                <li><a href='/usuarios/logout'><i class="fas fa-sign-in-alt"></i>Cerrar Sesión</a></li>
                                <% } else{ %>
                                        <li><a href='/usuarios/registro'><i class="far fa-user"></i> Crea tu cuenta</a></li>
                                        <li><a href='/usuarios/login'><i class="fas fa-sign-in-alt"></i> Ingresar</a></li>
                                        
                                <% }%>
                                <li><a href='#'><i class="far fa-bell"></i></a> </li>
                                <li><a href='/productos/carrito'><i class="fas fa-shopping-cart"></i></a> </li>
                                <li><a href='#'><i class="far fa-heart"></i></a> </li>
                        </ul>
                </nav>
        </header>
