<!DOCTYPE html>
<html lang="es">
<head>
        <%-include ("includes/head"); %>
        <title>Home</title>
        <link rel="stylesheet" href="/css/home.css" />
</head>
<body>
<!-- ===========================================HEADER===================================================   -->

<%-include ("includes/header"); %>

<!-- ===========================================MAIN===================================================   -->
<!-- =============BANNER==========-->
<main>
<div><img class="main__banner" src="/img/banner.jpg" alt="img-home-banner"></div>

<section>
<!-- =============PRODUCTOS==========-->
<h3 class="titulos-secciones">CONOCÉ NUESTRAS PROMOCIONES<a href="#"> ver más</a> </h3>

        <div class="main__section__lastvisit">

<article id="art1" class="articulos">
<a href="./detalle"> <img class="imagenArticulo" src="img/product_vinos1.jpg" alt=""> </a>
        <div class="detalleArticulos">   
        <p class="precio">$600</p>
        <p class="descuentos">30% OFF</p>
        <h4 class="descripciones">Alma Mora <p>Select Reserve Blend</p></h4>
                
        </div>
</article>
<article id="art2" class="articulos">
        <a href="./detalle"><img class="imagenArticulo" src="img/product_vinos2.jpg" alt=""></a>
        <div class="detalleArticulos">       
        <p class="precio">$350</p>
        <p class="descuentos">30% OFF</p>
        <h4 class="descripciones">Finca Las Moras <p>Cabernet Souvingnon </p></h4> </div>
</article>
<article id="art3" class="articulos">
<a href="./detalle"> <img class="imagenArticulo" src="img/product_vinos3.jpg" alt=""></a>
        <div class="detalleArticulos"> 
        <p class="precio">$420</p>
        <p class="descuentos">30% OFF</p>
        <h4 class="descripciones">Finca Las Moras <p> PAZ Sirah</p></h4> </div>
</article>
<article id="art4" class="articulos">
<a href="./detalle"> <img class="imagenArticulo" src="img/product_vinos2.jpg" alt=""></a>
        <div class="detalleArticulos">  
        <p class="precio">$420</p>
        <p class="descuentos">30% OFF</p>
        <h4 class="descripciones">Finca Las Moras <p>PAZ Souvignon Blanc</p></h4> </div>
</article>

        </div>
</section>

<!--==========================SECCION DE EXPERTOS============================-->
<section> 
        <h3 class="titulos-secciones">--SECCIÓN DE EXPERTOS--</h3>

        <div id="nosotros" class="main__section__ofertas">
        
        <article id="art5" class="articulos">
                <img class="imagenArticulo" src="img/dm-experto.png" alt="">
                <div class="detalleArticulos"> 
                <h4 class="descripciones">Delfina Molter <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p></h4> </div>
        </article>
        <article id="art6" class="articulos">
                <img class="imagenArticulo" src="img/gl-experto.png" alt="">
                <div class="detalleArticulos"> 
                <h4 class="descripciones">Gonzalo Lorenzo <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p></h4> </div>
        </article>

        <article id="art7" class="articulos">
                <img class="imagenArticulo" src="img/em-experto.png"alt="">
                <div class="detalleArticulos">
                <h4 class="descripciones">Emanuel Mendiolaza <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p></h4> </div> 
        </article>
        </div>
</section>

<!-- ---------------------------------------CONOCÉ NUESTRAS MARCAS ----------------------------------------->

<h3 id="marcas" class="titulos-secciones">--CONOCÉ NUESTRAS MARCAS--</h3>
        <section class="brand-carousel" >
             
        <div class="brand-div-resposive">
        <article id="brand-article-1">
                <a href="Aca va una URL"><img src="img/logo_elesteco.jpg" alt="" /></a>
        </article>
        <article id="brand-article-2">
                <a href="Aca va una URL"><img src="img/logo_fincalasmoras.jpg" alt="" /></a>
        </article>
        </div>
        <div class="brand-div-resposive">
        <article id="brand-article-3">
                <a href="Aca va una URL"><img src="img/logo_trapiche.jpg" alt="" /></a>
        </article>
        <article id="brand-article-4">
                <a href="Aca va una URL"><img src="img/logo_navarrocorreas.jpg" alt="" /></a>
        </div>
        </section>
</div>
</section>

</main>

<%-include ("includes/footer"); %> 

</body>
</html>
