<!DOCTYPE html>
<html lang="es">
  <head>
    <%-include ("../includes/head"); %>
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <!-- ===========================================HEADER===================================================   -->
    <%-include ("../includes/header"); %>
    
    <!-- ======================================MAIN*======================================================= -->
    <main> 
      
      <div id="main-div">
        <figure><img id="imagen-copitas" src="img/copitas.png" alt="copitas brindando"></figure>
        <h1 id='titulo-ingresar'>INGRESAR</h1>
        <p id="texto-ingresa">Ingresa tu email y contraseña</p>
        <form action="#" method="POST">
          <fieldset id="login-fildset">
            <input
              type="text"
              name="Nombre de Usuari@"
              class="input"
              required
              placeholder="Nombre de Usuari@"
            />
            <input
              type="password"
              name="Contraseña"
              class="input"
              required
              placeholder="Contraseña"
              minlength="6"
            />
            <button id="button" type="submit">Ingresar</button>
          </fieldset>
        </form>
        <a id="olvido-pass-enlace" href="$">¿Te olvidaste la contraseña?</a>
      </div>
    </main>
    <%-include ("../includes/footer"); %>
  </body>
</html>
