<!DOCTYPE html>
<html lang="es">
  <head>
    <%-include ("../includes/head"); %>
    <title>Registro</title>
    <link href="/css/registro.css" rel="stylesheet">
  </head>
  <body>
<!-------------------- ENCABZADO ------------------------->
<%-include ("../includes/header"); %>
<!-------------------- FORMULARIO ---------------------->
    <main> 
      <section class="registro">
        <h1 clase="registro__titulo">Datos de Registro</h1>
        <p class="registro__nota">Si todavía no tenes una cuenta completa el formulario.</p>
        <form action="/" method="POST" class="form">
          <fieldset class="form__registro__datos">
            <input type="text" name="name" class="form__registro__datos__nombre" placeholder="Nombre" required>
            <input type="text" name="last_name" class="form__registro__datos__apellido" placeholder="Apellido" required>
            <input type="tel" name="dni" maxlength="9" minlength="8" class="form__registro__datos__dni" placeholder="DNI - sin puntos, ni espacios" required>
            <label id="fechaNac">Fecha de Nacimiento</label>
            <input type="date" id="fechaNac" name="birthDate" class="form__registro__datos__fechaNac" max="2003-06-30" placeholder="Fecha de Nacimiento" required>
            <input type="email" name="email" class="form__registro__datos__email" placeholder="E-mail" required>
            <input type="username" name="usuario" class="form__registro__datos__usuario" placeholder="Usuario" required>
            <input type="password" name="password" class="form__registro__datos__pass" placeholder="Contraseña" required>
          </fieldset>
          <fieldset class="form__registro__condiciones">
            <input type="radio" name="condiciones" class="form__registro__condiciones__Check" required>
            <label class="form__registro__condiciones__Text">Acepto los <a class="form__registro__condiciones__Text__Link" href="#">Términos y Condiciones</a>.</label>
          </fieldset>
          <fieldset class="form__registro__botones">
            <button type="reset" class="form__registro__botones__borrar">Borrar</button>
            <button type="submit" class="form__registro__botones__enviar">Enviar</button>
          </fieldset>
        </form>
      </section>
    </main>
<!------------------- PIE DE PAGINA ----------->
<%-include ("../includes/footer"); %>
  </body>
</html>
